body {
    background: linear-gradient(to right, rgb(2, 131, 19), rgb(175, 172, 1));
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 50px;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px black;
}

p {
    font-size: 20px;
    color: white;
    margin-top: 20px;
}

button {
    margin-top: 50px;
    padding: 15px 30px;
    font-size: 20px;
    background-color: darkblue;
    color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 4px black;
    transition: all 0.3s ease-in-out;
}

button:hover {
    transform: translateY(-5px);
    box-shadow: 2px 7px 4px black;
}

a {
    color: white;
    text-decoration: none;
}