* {
    font-family: 'Oswald', sans-serif;

}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 100%;
    width: 100%;
    margin: auto;
    transition: 2s;
}

.remove-jogador {
    display: flex;
    justify-content: center;
}

.titulo {
    display: flex;
    justify-content: center;
}

.fieldset-color {
    background-color: aqua;

}


.h1-centralizer {
    display: flex;
    justify-content: center;
}

.h1-sucess {
    display: flex;
    justify-content: center;
    color: green;
}

.formulario {
    display: flex;
    justify-content: center;
}

.botao {
    display: flex;
    justify-content: center;
}



.botao_click {
    width: 200px;
    height: 50px;
    margin-top: 40px;
    background-color: aqua;

}

.card {
    width: 30%;
    /* Altera a largura das cartas para que possam caber 3 em uma linha */
    width: 250px;
    height: 400px;
    border-radius: 10px;
    background-color: rgb(181, 192, 183);
    margin: 7px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.nome-jogador {
    display: flex;
    justify-content: center;
    margin: -20px;
    padding: -200px;
    font-size: 30px;
    color: rgb(255, 251, 2);
    text-shadow: 0px 5px 5px black;
    transition: 1s;
}

.imagem {
    display: flex;
    justify-content: center;
}

.hr-func {
    margin-top: -22px;
    border-color: yellow;
}

.neymar {

    width: 230px;
    height: 210px;
    margin-top: 14px;
    border-radius: 10px;

}

.texto {
    border-radius: 50px;
    background-image: linear-gradient(to right, yellow, rgb(255, 255, 255));
}


.perfil-user {
    position: absolute;
    top: 50px;
    left: 0;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: 10px solid black;
}

.perfil-user h1 {
    margin: 0;
    font-size: 20px;
}